<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">

<body>
<header th:replace="commons/resourceBar.html"></header>
	<div id="wrapper" class="">
		<div th:replace="commons/sideMenu.html"></div>

		<div class="container col-10 float-right">
		<div id="RealmTitle" th:text="${kingdom.kingdomName}"/>
		<div id="buildings">
		<div id="ProductionBuildingsHeader" class="header">
			<h2>Buildings</h2>
		</div>		
			<div id="ProductionBuildings" class="row">
				<div
					th:replace="commons/showBuilding :: menu(building=${buildings.get('Sawmill')})">
				</div>
				<div
					th:replace="commons/showBuilding :: menu(building=${buildings.get('Quarry')})">
				</div>
				<div
					th:replace="commons/showBuilding :: menu(building=${buildings.get('Farm')})">
				</div>
				<div
					th:replace="commons/showBuilding :: menu(building=${buildings.get('Forge')})">
				</div>
			</div>

		</div>
</div>
	</div>
</body>
</html>