<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head">
<body>


	<header th:replace="commons/resourceBar.html"></header>
 <div class="d-flex" id="wrapper">
	<div th:replace="commons/sideMenu.html"></div>
	<div>
		<h2>Buildings</h2>
	</div>
	<div id="buildings">
	<!-- 
	<section layout:include="commons/showBuilding :: menu" th:with="building=${buildings.get('Farm')}"></section>
	 -->
	<div id="ProductionBuildings"  class="row">
	    <section th:replace="commons/showBuilding :: menu(building=${buildings.get('Sawmill')})"> </section>
	    <section th:replace="commons/showBuilding :: menu(building=${buildings.get('Quarry')})"> </section>
	    <section th:replace="commons/showBuilding :: menu(building=${buildings.get('Farm')})"> </section>
	    <section th:replace="commons/showBuilding :: menu(building=${buildings.get('Forge')})"> </section>
	</div> 

		</div>

</div>
	</div>
</body>
</html>