<div id="Resources" th:fragment="resources"
	class="navbar  navbar-light bg-light">
	<div class="woodResource">
		<img alt="wood" width="40" height="40"
			src="https://cdn3.iconfinder.com/data/icons/random-4/96/wood-trunk-log-camping-nature-resource-512.png" />
		<span th:text="' : ' + ${kingdom.wood}"></span> <span
			th:text="'(' + ${kingdom.baseWoodGrowthRate} +'+'+ (${kingdom.extraWoodGrowthRate}) + ')'"></span>
		<span th:text="' / ' + ${kingdom.maxWoodStored}"></span>
	</div>
	<div class="rockResource">
		<img alt="rock" width="40" height="40"
			src="https://img.icons8.com/emoji/452/rock-emoji.png" /> <span
			th:text="' : ' + ${kingdom.rock}"></span> <span
			th:text="'(' + ${kingdom.baseRockGrowthRate}  +'+'+ (${kingdom.extraRockGrowthRate}) +  ')'"></span>
		<span th:text="' / ' + ${kingdom.maxRockStored}"></span>

	</div>
	<div class="steelResource">
		<img alt="steel" width="40" height="40"
			src="https://img.icons8.com/plasticine/2x/fa314a/metal.png" /> <span
			th:text="' : ' + ${kingdom.steel}"></span> <span
			th:text="'(' + ${kingdom.baseSteelGrowthRate}  +'+'+ (${kingdom.extraSteelGrowthRate}) +  ')'"></span>
		<span th:text="' / ' + ${kingdom.maxSteelStored}"></span>

	</div>

	<div class="foodResource">
		<img alt="food" width="40" height="40"
			src="https://i.pinimg.com/originals/01/be/7e/01be7eb316abb4dd89675274dbc0cd21.jpg" />
		<span th:text="' : ' + ${kingdom.food}"></span> <span
			th:text="'(' + ${kingdom.baseFoodGrowthRate}  +'+'+ (${kingdom.extraFoodGrowthRate}) +  ')'"></span>
		<span th:text="' / ' + ${kingdom.maxFoodStored}"></span>
	</div>
</div>