<html>
<div  class="col-3 " th:fragment="menu">
	<div class="building" th:id="${building.name}">


		<div class="buildingText h5" th:text="${building.name}"></div>
		<div th:if="${building.level} != 0" class="buildingLevel"
			th:text="'Level : ' + ${building.level+1}"></div>
		<div th:if="${building.level} == 0" class="buildingLevel"
			th:text="'Not built'"></div>
		<div class="imageBuilding">
		<img th:src="${building.portrait}"/>
</div>
		<div class="buildingDescription"><span th:text="${building.description}"></span></div>
		
		
		<!-- 
<p class="card-text" th:text="${T(com.blog.project.app.utils.LocalUtils).formatContentForList(post.content)}"></p>
		 -->
		<div class="buildingImprovementRequirementsTitle">Improve Requirements :</div>
		<div class="buildingImprovementRequirements">
		
		<div ></div>
		 
			<div th:if="${T(com.game.app.singleton.StaticRequirementsSingleton).getInstance().getStaticRequirementsFromNameAndLevel(building.name,building.level+1).getWood > 0}">
				<img class="float-left" alt="wood" width="20" height="20"
					src="https://cdn3.iconfinder.com/data/icons/random-4/96/wood-trunk-log-camping-nature-resource-512.png" />
				<span th:text="${T(com.game.app.singleton.StaticRequirementsSingleton).getInstance().getStaticRequirementsFromNameAndLevel(building.name,building.level+1).getWood}" />
			</div>
			<div th:if="${T(com.game.app.singleton.StaticRequirementsSingleton).getInstance().getStaticRequirementsFromNameAndLevel(building.name,building.level+1).getSteel > 0}">
				<img class="float-left" alt="rock" width="20" height="20"
					src="https://img.icons8.com/emoji/452/rock-emoji.png" /> <span
					th:text="${T(com.game.app.singleton.StaticRequirementsSingleton).getInstance().getStaticRequirementsFromNameAndLevel(building.name,building.level+1).getRock}" />
			</div>

			<div th:if="${T(com.game.app.singleton.StaticRequirementsSingleton).getInstance().getStaticRequirementsFromNameAndLevel(building.name,building.level+1).getSteel > 0}">
				<img class="float-left" alt="steel" width="20" height="20"
					src="https://img.icons8.com/plasticine/2x/fa314a/metal.png" /> <span
					th:text="${T(com.game.app.singleton.StaticRequirementsSingleton).getInstance().getStaticRequirementsFromNameAndLevel(building.name,building.level+1).getSteel}" />
			</div>
			
		</div>
		<div class="updateBuilding">

			<a th:href="@{/levelUp/} + ${building.name}">
				<button  class="btn btn-default btn-block" th:if="${building.level} != 0"
					th:name="'create' + ${building.name}">Level up building</button>
				<button  class="btn btn-default btn-block" th:if="${building.level} == 0"
					th:name="'create' + ${building.name}">Build</button>
			</a>
		</div>
	</div>
</div>
</html>