 <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Menu :  </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Buildings</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Barracks</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Investigation</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Exploration</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Upgrades</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">War</a>
      </div>
    </div>